@{
    ViewBag.Title = "Home Page";
}
    <div class="card mt-4 "id="articleCard">
        <div class="card-header">
            <img class="card-img-top" src="~/Content/indxPhoto.jpg" height="350px" />
        </div>
            <div class="card-body" >
                <a asp-action="index"><h3 class="card-title" id="header">Secrets of Cooking (Article)</h3></a>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula commodo suscipit. Duis pulvinar lectus quis feugiat semper. Sed et placerat dolor. Sed facilisis sed magna at hendrerit. Etiam ex erat, fermentum ac dictum hendrerit, congue non nisi. Nullam vulputate mattis neque non ultricies. Praesent accumsan molestie felis nec suscipit. Vestibulum sit amet lorem eros. Aliquam maximus, quam et semper tincidunt, tortor ipsum feugiat ipsum, vitae pretium augue libero et nisl. Etiam posuere ligula a bibendum volutpat. Nullam vel faucibus nisi. Sed nunc purus, dignissim eget venenatis et, ultrices non nisl.

                    Praesent venenatis convallis commodo. Maecenas sagittis ut purus nec auctor. Etiam nisi ante, rhoncus et augue nec, sagittis posuere velit. Cras vitae bibendum augue. Praesent sodales finibus leo sit amet molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam et mi ullamcorper, scelerisque nisi consectetur, laoreet nibh. Maecenas elementum consectetur quam in elementum.

                    Vestibulum felis purus, pellentesque ac ultrices id, cursus nec sapien. Donec eget quam sed risus pellentesque semper et sit amet ligula. In hac habitasse platea dictumst. Morbi eleifend molestie justo a volutpat. Nullam vel ornare tortor, sed sollicitudin urna. Aliquam at nisi quis tellus hendrerit suscipit eu non urna. Donec quam libero, sodales vitae augue vel, euismod porttitor libero. Pellentesque fringilla dui dolor, quis fermentum felis ullamcorper in. Donec tincidunt felis ut placerat tincidunt. Nam id purus quis sem hendrerit ornare. Ut nec lectus nec massa convallis vulputate eu sed purus.
                </p>
            </div>
    </div>