
@{
    ViewBag.Title = "Review Recipe";
}
<br />

<blockquote class=" blockquote text-right">
    <h4 class=" display-4" id="header">A Review is A New View</h4>
    <footer class="blockquote-footer alight-right">Famous Someone</footer>
</blockquote>
<div class="row">
    <div class="col-4">

    </div>

    <div class="col-6 ">
        <form>
            <h5>Taste</h5>
            <div class="form-check-inline">
                <label class="form-check-label mr-2"> <input type="radio" class="form-check-input" name="taste" />1</label>
                <label class="form-check-label mr-2"> <input type="radio" class="form-check-input" name="taste" />2</label>
                <label class="form-check-label mr-2"> <input type="radio" class="form-check-input" name="taste" />3</label>
                <label class="form-check-label mr-2"> <input type="radio" class="form-check-input" name="taste" />4</label>
                <label class="form-check-label mr-2"> <input type="radio" class="form-check-input" name="taste" />5</label>
            </div>
            <h5>Convenience</h5>
            <div class="form-check-inline">
                <label class="form-check-label mr-2"> <input type="radio" class="form-check-input" name="convenience" />1</label>
                <label class="form-check-label mr-2"> <input type="radio" class="form-check-input" name="convenience" />2</label>
                <label class="form-check-label mr-2"> <input type="radio" class="form-check-input" name="convenience" />3</label>
                <label class="form-check-label mr-2"> <input type="radio" class="form-check-input" name="convenience" />4</label>
                <label class="form-check-label mr-2"> <input type="radio" class="form-check-input" name="convenience" />5</label>
            </div>
            <h5>Uniqueness</h5>
            <div class="form-check-inline">
                <label class="form-check-label mr-2"> <input type="radio" class="form-check-input" name="uniqueness" />1</label>
                <label class="form-check-label mr-2"> <input type="radio" class="form-check-input" name="uniqueness" />2</label>
                <label class="form-check-label mr-2"> <input type="radio" class="form-check-input" name="uniqueness" />3</label>
                <label class="form-check-label mr-2"> <input type="radio" class="form-check-input" name="uniqueness" />4</label>
                <label class="form-check-label mr-2"> <input type="radio" class="form-check-input" name="uniqueness" />5</label>
            </div>
            <h5>Additional Review</h5>
            <textarea placeholder="Enter your perspective..." class="form-control float-right mb-2" id="ingredients"></textarea>
            <button class="btn btn-primary" type="submit">Send</button>
            <button class="btn btn-danger" type="reset">Reset</button>

        </form>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />







